@{
    ViewData["Title"] = "About";
    <hr>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Email"]</h3>

<p>Desenvolvedor Junior @ViewData["Nome"]</p>
<p>Caso queira entrar em contato, use o email acima. Obrigado por apreciar meu projeto!</p>
<p>Nada começa grande, lembre-se: <b>Sic Parvis Magna (Grandeza a partir de pequenos começos).</b> </p>
